<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	    <link rel="icon" type="image/x-icon" href="assets/coracao.ico">
	    <title>Conta</title>
	</head>
	
	<body>
		
		<nav class="navbar" style="background-color: #212429;">		  
		  <div class="container-fluid">
		   
		    <a class="navbar-brand text-light" href="/">
		      <img src="/assets/logo.svg" alt="Logo" height="30" class="d-inline-block align-text-top">
		      MYbank
		    </a>
		    
		    <form action="/new_account" class="d-flex" role="search">
		      <button class="btn btn-outline-light" type="submit">+</button>
		    </form>

		  </div>
		</nav>
		
		<section class="container text-center mt-5">
	    	
	    	<div>
			    <p>ID: <span th:text="${account.id}"></span></p>
			    <h1>Saldo: <span th:text="${account.saldo}"></span></h1>
		    </div>
			
			<div class="mt-5">
		    
			    <button type="button" class="btn btn-dark btn-lg"><a class="text-decoration-none text-light" th:href="@{/deposit?accountId={accountId}(accountId=${account.id})}">Depositar</a></button>
			    <button type="button" class="btn btn-dark btn-lg"><a class="text-decoration-none text-light" th:href="@{/withdraw?accountId={accountId}(accountId=${account.id})}">Sacar</a></button>
				<button type="button" class="btn btn-dark btn-lg"><a class="text-decoration-none text-light" th:href="@{/transfer?accountId={accountId}(accountId=${account.id})}">Transferir</a></button>
				<button type="button" class="btn btn-dark btn-lg"><a class="text-decoration-none text-light" th:href="@{/statement?accountId={accountId}(accountId=${account.id})}">Extrato</a></button>
				
				<button type="button" class="btn btn-secondary btn-lg"> <a class="text-decoration-none text-light" href="/home">Voltar</a></button>
			</div>
		
		</section>
	    
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	</body>
	
</html>
